<header>
  <div class="logo"><h3>LTBooks</h3></div>
  <nav>
    <ul>
      <li class="hvr-underline-from-center" routerLink="">Trang chủ</li>
      <li class="hvr-underline-from-center" routerLink="/store">Sách</li>
      <li class="hvr-underline-from-center" routerLink="">Dịch vụ</li>
      <li class="hvr-underline-from-center" routerLink="/information">Thông tin</li>
      <li class="hvr-underline-from-center" routerLink="/contact">Liên hệ</li>
      <li class="hvr-underline-from-center" routerLink="/cart"><i class="fas fa-cart-arrow-down"></i></li>
    </ul>
  </nav>
</header>
