



  <div class="content">
    <div class="sidebar">
      <div class="widget">
        <div class="title">Danh mục</div>
        <div class="data">
          <ul>
            <li class="catog">- Trang chủ -</li>
            <li class="catog">- Sách -</li>
            <li class="catog">- Dịch vụ -</li>
            <li class="catog">- Thông tin -</li>
            <li class="catog">- Liên hệ -</li>
          </ul>
        </div>
      </div>
      <div class="widget">
        <div class="title">Sách của tuần</div>
        <div class="data">
          <img src="https://bit.ly/2JY0Bm2" alt="Random Product">
        </div>
      </div>
      <div class="widget">
        <div class="title">Liên hệ</div>
        <div class="data">
          <i class="fab fa-facebook-square fa-2x"></i>
          <i class="fab fa-twitter-square fa-2x"></i>
          <i class="fab fa-youtube-square fa-2x"></i>
          <i class="fab fa-linkedin fa-2x"></i>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="product">
        <img src="https://bit.ly/2FG2qi0" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2CTR8WU" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FV7UqH" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FLKqD2" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FG2qi0" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2CTR8WU" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FV7UqH" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FLKqD2" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FG2qi0" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2CTR8WU" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FV7UqH" alt="product">
        <span>Chi tiết</span>
      </div>
      <div class="product">
        <img src="https://bit.ly/2FLKqD2" alt="product">
        <span>Chi tiết</span>
      </div>
    </div>
  </div>
