<div class="content">
  <div class="sidebar">
    <div class="widget">
      <div class="title">Danh mục</div>
      <div class="data">
        <ul>
          <li class="catog">- Trang chủ -</li>
          <li class="catog">- Sách -</li>
          <li class="catog">- Dịch vụ -</li>
          <li class="catog">- Thông tin -</li>
          <li class="catog">- Liên hệ -</li>
        </ul>
      </div>
    </div>

    <div class="widget">
      <div class="title">Liên hệ</div>
      <div class="data">
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-twitter-square fa-2x"></i>
        <i class="fab fa-youtube-square fa-2x"></i>
        <i class="fab fa-linkedin fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="wrapper">
      <div class="product-single">
        <div class="product-gallery">
          <div class="slider-arrows"><i class="fa fa-fw fa-arrow-circle-o-left" id="prev-slide"></i><i class="fa fa-fw fa-arrow-circle-o-right" id="next-slide"></i></div>
          <div id="slider-wrap">
            <ul class="slides">
              <li><img src="https://lzd-img-global.slatic.net/g/p/0f2cc2129805bb2172483088e44a4974.jpg_720x720q80.jpg_.webp" alt=""/></li>
              <li><img src="https://storage.googleapis.com/chydlx/codepen/simple-product-card/yoshi-yarn-2.jpg" alt=""/></li>
            </ul>
            <ul class="nav-dots">
              <li class="active"></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="product-details">
          <h1 class="product-title">Sách dạy làm người</h1>
          <h3 class="product-cost">45.000 ₫</h3>
          <div class="product-rating">
            <ul>
              <li class="fa fa-fw fa-lg fa-star"></li>
              <li class="fa fa-fw fa-lg fa-star"></li>
              <li class="fa fa-fw fa-lg fa-star"></li>
              <li class="fa fa-fw fa-lg fa-star"></li>
              <li class="fa fa-fw fa-lg fa-star-half"></li>
            </ul><span class="product-reviews"><a href="#">10 Reviews</a></span>
          </div>
          <div class="product-description">
            <p>Đây là cuốn sách khái quát về cách làm con người. Đôi khi chúng ta quên chúng ta là con người và dần hòa nhập vào thế giới của các loài thú. Cảm giác về thới giới của chúng ta dần dần mất đi. Cuốn sách sẽ mang bạn lại thế giới của loài người...</p>
          </div>
          <div class="product-cta">
            <button class="product-atc">Thêm vào giỏ hàng</button>
            <button class="product-atw">Thanh toán</button>
          </div>
          <div class="product-info"><span class="product-sku">Nhà xuất bản Kim Đồng </span></div>
        </div>
      </div>

    </div>
  </div>
</div>
